<?xml version="1.0" encoding="utf-8" standalone="no"?>
<configuration>
	<mysql>
		<driver>com.mysql.jdbc.Driver</driver>
		<url>jdbc:mysql://192.168.99.100:3306/longconn</url>
		<userName>root</userName>
		<password>root</password>
		<maxIdle>5</maxIdle>
		<minIdle>0</minIdle>
		<initialSize>1</initialSize>
		<maxActive>5</maxActive>
	</mysql>

	<netty>
		<resourceLeakDetectLv>SIMPLE</resourceLeakDetectLv>
		<workerThreadNum>4</workerThreadNum>
		<client>
			<port>7020</port>
			<serverRegisterParent>/nettypush_clientServer</serverRegisterParent>
			<heartbeatTimeSecond>3</heartbeatTimeSecond>
			<serverDownTimeSecond>6</serverDownTimeSecond>
			<messageSenderQueueSize>100</messageSenderQueueSize>
		</client>
		<backend>
			<port>7021</port>
			<serverRegisterParent>/nettypush_clientServer</serverRegisterParent>
			<heartbeatTimeSecond>3</heartbeatTimeSecond>
			<serverDownTimeSecond>6</serverDownTimeSecond>
			<messageSenderQueueSize>100</messageSenderQueueSize>
			<http>
				<whiteIPs>127.0.0.1|10.120.241.224|114.113.198.241|220.181.102.176|124.204.54.120|10.120.241.200|172.16.36.82|172.16.36.90|0:0:0:0:0:0:0:1</whiteIPs>
			</http>
		</backend>
		<rpc>
			<zkPath>/nettypush_clientServer/rpc</zkPath>
			<heartTimeout>20</heartTimeout>
		</rpc>
		<http>
			<port>7022</port>
		</http>
		<lvsIPs>114.113.198.106|114.113.198.107|127.0.0.1</lvsIPs>
        <nettyClientConnectHost>rs.lconn.ttacp8.com</nettyClientConnectHost>
		<uniqueIp>114.113.198.84:7020</uniqueIp>
		<evictNodeIps></evictNodeIps>
		<uniqueIpCheckAndMonitorSwitch>true</uniqueIpCheckAndMonitorSwitch>
	</netty>
	<redis>
		<masterName>master</masterName>
		<sentinels>172.16.36.83:26379,172.16.36.84:26379,172.16.36.85:26379,172.16.36.86:26379,172.16.36.87:26379</sentinels>
		<password>7IGVK4YP</password>
		<minIdle>30</minIdle>
		<maxIdle>30</maxIdle>
		<maxTotal>30</maxTotal>
	</redis>
	<zookeeper>
		<server>172.16.36.83:2181,172.16.36.84:2181,172.16.36.85:2181,172.16.36.86:2181,172.16.36.87:2181</server>
		<rootNode>/nettypush_clientServer</rootNode>
		<hostParent>/host</hostParent>
		<nodeParent>/node</nodeParent>
	</zookeeper>
	<http>
		<connectTimeout>1000</connectTimeout>
		<socketTimeout>3000</socketTimeout>
	</http>
</configuration>